<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pur Beurre</title>
</head>
<body>
    <a href="{% url 'home' %}"><button>Home</button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}"><button>Déconnexion</button></a>
        <a href="{% url 'users:profile' %}"><button>Mon compte</button></a>
        <a href="{% url 'users:favorites' %}"><button>Mes aliments</button></a>
    {% else %}
        <a href="{% url 'users:login' %}"><button>Connexion</button></a>
        <a href="{% url 'users:create_account' %}"><button>Créer un compte</button></a>
    {% endif %}
        {% block content %}{% endblock content %}
</body>
<footer>
    
</footer>
</html>
