{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'pur_beurre/header.html' %}

<div class="img-f">
    <img src="{{ product.image_url}}" alt="Image du produit" width="20%">
</div>
<section class="page-product" id="services">
    <div class="container-fluid">
        <hr class="divider my-4">
        <h2 class="text-center mt-0 font-title">{{ product.product_name_fr }}</h2>
        <hr class="divider my-4">
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <img src="{% static 'img' %}/Scores{{ product.nutrition_grade_fr|upper }}.png" alt="nutriscrore">
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <img src="{{ product.image_nutrition_url }}" alt="nutrition pour 100g">
        </div>
    </div>
    <div class="container-fluid page-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="mt-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <a href="{{ product.url }}"><button>Voir la fiche d'Open Food Fact</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}