{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
{% include "pur_beurre/search_box.html" %}

<h1>Fiche Produit .</h1>
<ul>

        <li>{{product.product_name_fr}}</li>
            <li><a href="{{ product.url }}">Voir la fiche d'Open Food Fact</a></li>
            <img src="{% static 'img' %}/Scores{{ product.nutrition_grade_fr|upper }}.png" alt="nutriscrore">
            <img src="{{ product.image_url }}" alt="Image du produit">
            <br>
            <img src="{{ product.image_nutrition_url }}" alt="nutrition pour 100g"> 
        </ul></li>

</ul>

{% endblock content %}
